// color pallate
$color1: #000000;
$color2: #474056;
$color3: #ffffff;
$color4: #8a95a5;
$color5: #b9c6ae;
$color6: #49261f;


// functions

@mixin navBarSpace ($left_ , $right_) {
    margin-right: right_;
    margin-left: left_;

}
.container.layer1 {
    margin-top: 3px;
    background-color: $color3;
    margin-left: 0px;
    margin-right: 0px;
    
}
.container.layer2 {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 100px;
}

.container.layer3 {
    display: block;
}

footer{
	margin-top: 15px;
}  

.col-6.layer2 {
    height: 10;
}

.row.topBar {
    border-color: $color3;

}

.col-2.flag {
    display: block;
    background-color: $color3;
    width: 100%;
    margin-top: 5%;
    margin: auto;
}

.col-10.logo {
    display: inline;
    text-align: center;
    background-color: $color3;
}

.col-10.logo::after, .col-2.flag::after {
    box-sizing: inherit;
}

.col-10.logo::before, .col-2.flag::before {
    box-sizing: inherit;
}

h1.gallinas {
    max-width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 8vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.navbar {
    background-color: $color4 !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav-item {
    margin-right: 25px;
    margin-left:  25px;
    
}

.nav-item:hover {
    background-color: $color2;
}

a.nav-link {
    color: #49261f;
    text-transform: uppercase; 
}

.dropdown-menu {
    background-color: $color2;
   
}
.dropdown-item {
    color: $color3;
}

.d-block.w-100 {
    object-fit: fill !important;
}



.mainImage {
    padding-right: 0;
    padding-left: 0;
}

.cardimg {
    background-color: $color1;
    padding: 0.1rem;
}

.cardimg {
    object-fit: cover;
    box-sizing: 10%;
    border-color: $color1;
    
}

.cardimg:hover {
    background-color: red;
    
}

.row.footer-distributed {
    background-color: $color6;
    color: $color3;
}